<!DOCTYPE HTML>
<html>
	<head>
		<title>Home Automation and Security</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/logo.png" alt="" /></span>
							<h1>Home Automation<br>and Security</h1>
                            <p>by: Jc Briones</p>
						</header>
                        
                        <hr>
						<h2>Home</h2>
                        <p>{{ homeName }}</p>
                        <h2>Address</h2>
                        <p>{{ address }}</p>
                        <hr>
                        
						<footer>
							<ul class="icons">
								<li><a href="mailto:mail@jcbriones.com?Subject=Home%20Automation%20and%20Security&Body=Enter%20your%20message%20here" class="fa-envelope-o">E-Mail</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; <a href="http://jcbriones.com">JcBriones.com</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>